body{
    font-family: 'Roboto', sans-serif !important;   /* !important es para que bootstrap no modifique la fuente*/
}

.container-fluid{
    background-color: #28a745;
    height: 60px;
    margin-top: -8px;
    font-weight: 550;
}

.logo{
    height: 35px;
    margin-left: 40px;
    margin-right: 75%;
}

.nav-link{
    color: #F8F9FA !important;
}

.nav-link-gris{
    opacity: 0.7;
}

.nav-link-disabled{
    opacity: 0.4;
}

.card{
    margin-left: 50px;
    margin-right: 35px;
    margin-top: 20px;
}

.fila2{
    padding-top: 40px;
}

.card-title{
    color: #212529 !important;
    font-size: 27px;
}

.card-body{
    color: #707070 !important;
}

.card-text{
    margin-top: 15px;
    margin-bottom: 5px;
}

.card-text2{
    margin-bottom: -10px;
}

.localidad{
    display: flex;
    gap: 6px; /* para cambiar espacio entre el icono y el texto*/
}

.icono{
    margin-top: 4px;
}

.card-footer{
    text-align: right;
}

.precio_normal{
    margin-right: 20px;
    font-size: 21px;
    font-weight: 300;
    color: #707070;
}

.precio_oferta{
    color: #28a745;
    font-size: 30px;
    font-weight: 500;
}

.recibir-cupones{
    background-color: #28a745;
    height: 265px;
    margin-top: 100px;
}

.recibir {
    text-align: center;
    font-size: 22px;
    color: #F8F9FA;
    padding-top: 50px;
    margin-bottom: -10px;
    
}

.btn-enviar {
    display: block !important;
    margin: auto;
    width: 100px;
    font-weight: 600 !important;
}

.derechos{
    padding-top: 20px;
}

.logo2 {
    display: block;
    height: 27px;
    margin: auto;
}

.derechos-texto{
    color: #707070;
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
}