.container-fluid{
    background-color: #28a745;
}

.logo{
    height: 25px;
    margin-left: 25px;
    margin-right: 79%;
}

.navbarNav{
    text-align: right;
}

.card{
    margin-left: 15px;
}

.card-footer{
    text-align: right;
}

.Precio_normal{
    margin-right: 18px;
}


